@import url('https://fonts.googleapis.com/css2?family=KoHo&display=swap');
	@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200&display=swap');

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: sans-serif;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
}

#main-main{
width: 100% !important;
margin-top: 100px !important;
}

#contents {
	width: 75%;
	height: 100%;
	float: left;
	background: #ffffff;
	margin-top: 0px;
	margin-right: 0px;
}

#contents2 {
	width: 75%;
	height: 100%;
	float: left;
	background: #ffffff;
	margin-top: 0px;
	margin-right: 0px;
}

body {
	background-color: #ffffff;
}

.spy {

	display: none;

}

.spy_aside {

	display: block;

}

.spy-a {

	display: none;

}

.spy-a_aside {

	display: block;

}

.relationated {

	font-family: 'KoHo', sans-serif;
	color: #1e1e20;
	font-size: 20px;
	vertical-align: text-top;
	text-align: left;
	margin-left: 50px;

}

.images_related {
	width: 21%;
	margin: .7%;
	border-radius: 5px 5px 5px 5px;
}

p {
	font-family: 'KoHo', sans-serif;
	color: #1e1e20;
	font-size: 20px;
	vertical-align: text-top;
}

/*====================Responsive(PC)====================*/
@media screen and (max-width: 1000px) {

aside {
	width: 100%;
	height: 100%;
	margin-top: 0px;
}

#contents {
	width: 100%;
	height: 100%;
	background: #ffffff;
	margin-top: 0px;
	margin-right: 0px;
}

#contents2 {
	width: 100%;
	height: 100%;
	background: #ffffff;
	margin-top: 0px;
	margin-right: 0px;
}
}

/*====================Responsive(Android)====================*/
@media screen and (max-width: 800px) {

#link3{
	display: none;
}

#related3{
	display: none;
}

#link4{
	display: none;
}

#related4{
	display: none;
}

.spy {

	display: block;

}

.spy_aside {

	display: none;

}

.spy-a {

	display: block;

}

.spy-a_aside {

	display: none;

}

.images_related {
	width: 45%;
	margin: .2%;
}

.relationated {

	font-family: 'KoHo', sans-serif;
	color: #1e1e20;
	font-size: 20px;
	vertical-align: text-top;
	text-align: center;
	margin-left: 0px;

}

}
