input[type="radio"] {

	display: none;

}

.container_gallery_column {

	flex: 25%;
	padding: 0px;

}

.posts{

	display: flex;
	padding: 0px;
	flex-wrap: wrap;

}

.post .ctn-img img{

	width: 100%;
	margin-top: 10px;

}

[value="2"]:checked ~ .posts .post[data-category] {

	display: block;

}

[value="1"]:checked ~ .posts .post:not([data-category~="1"]),
[value="2"]:checked ~ .posts .post:not([data-category~="2"]),
[value="3"]:checked ~ .posts .post:not([data-category~="3"]),
[value="4"]:checked ~ .posts .post:not([data-category~="4"]),
[value="5"]:checked ~ .posts .post:not([data-category~="5"]),
[value="6"]:checked ~ .posts .post:not([data-category~="6"]) {

	display: none;

}

[value="1"]:checked ~ .container-category [for="1"],
[value="2"]:checked ~ .container-category [for="2"],
[value="3"]:checked ~ .container-category [for="3"],
[value="4"]:checked ~ .container-category [for="4"],
[value="5"]:checked ~ .container-category [for="5"],
[value="6"]:checked ~ .container-category [for="6"] {

	background: #46a2fd;
	color: #fff;

}

@media screen and (max-width: 900px) {

.container_gallery_column {

	flex: 50%;

}

}

@media screen and (max-width: 580px) {

.container_gallery_column {

	flex: 100%;

}

}