input[type="radio"] {

	display: none;

}

.container_gallery_column {

	flex: 25%;
	padding: 0px;

}

.posts{

	display: flex;
	padding: 0px;
	flex-wrap: wrap;

}

.post .ctn-img img{

	width: 100%;
	margin-top: 10px;

}

[value="2"]:checked ~ .posts .post[data-category] {

	display: block;

}

[value="1"]:checked ~ .posts .post:not([data-category~="1"]),
[value="2"]:checked ~ .posts .post:not([data-category~="2"]),
[value="3"]:checked ~ .posts .post:not([data-category~="3"]),
[value="4"]:checked ~ .posts .post:not([data-category~="4"]),
[value="5"]:checked ~ .posts .post:not([data-category~="5"]),
[value="6"]:checked ~ .posts .post:not([data-category~="6"]),
[value="animal"]:checked ~ .posts .post:not([data-category~="animal"]),
[value="aacute-rboles"]:checked ~ .posts .post:not([data-category~="aacute-rboles"]),
[value="azul"]:checked ~ .posts .post:not([data-category~="azul"]),
[value="bosque"]:checked ~ .posts .post:not([data-category~="bosque"]),
[value="caba-ntilde-a"]:checked ~ .posts .post:not([data-category~="caba-ntilde-a"]),
[value="cafe"]:checked ~ .posts .post:not([data-category~="cafe"]),
[value="cama"]:checked ~ .posts .post:not([data-category~="cama"]),
[value="casa"]:checked ~ .posts .post:not([data-category~="casa"]),
[value="chispas"]:checked ~ .posts .post:not([data-category~="chispas"]),
[value="cielo"]:checked ~ .posts .post:not([data-category~="cielo"]),
[value="colores"]:checked ~ .posts .post:not([data-category~="colores"]),
[value="comida"]:checked ~ .posts .post:not([data-category~="comida"]),
[value="cosas"]:checked ~ .posts .post:not([data-category~="cosas"]),
[value="flamenco"]:checked ~ .posts .post:not([data-category~="flamenco"]),
[value="flor"]:checked ~ .posts .post:not([data-category~="flor"]),
[value="fogata"]:checked ~ .posts .post:not([data-category~="fogata"]),
[value="fr-iacute-o"]:checked ~ .posts .post:not([data-category~="fr-iacute-o"]),
[value="fuego"]:checked ~ .posts .post:not([data-category~="fuego"]),
[value="gris"]:checked ~ .posts .post:not([data-category~="gris"]),
[value="hojas"]:checked ~ .posts .post:not([data-category~="hojas"]),
[value="jap-oacute-n"]:checked ~ .posts .post:not([data-category~="jap-oacute-n"]),
[value="jard-iacute-n"]:checked ~ .posts .post:not([data-category~="jard-iacute-n"]),
[value="madera"]:checked ~ .posts .post:not([data-category~="madera"]),
[value="monta-ntilde-a"]:checked ~ .posts .post:not([data-category~="monta-ntilde-a"]),
[value="morado"]:checked ~ .posts .post:not([data-category~="morado"]),
[value="mujer"]:checked ~ .posts .post:not([data-category~="mujer"]),
[value="naranja"]:checked ~ .posts .post:not([data-category~="naranja"]),
[value="negro"]:checked ~ .posts .post:not([data-category~="negro"]),
[value="ni-ntilde-o"]:checked ~ .posts .post:not([data-category~="ni-ntilde-o"]),
[value="nubes"]:checked ~ .posts .post:not([data-category~="nubes"]),
[value="paisaje"]:checked ~ .posts .post:not([data-category~="paisaje"]),
[value="persona"]:checked ~ .posts .post:not([data-category~="persona"]),
[value="plantas"]:checked ~ .posts .post:not([data-category~="plantas"]),
[value="puente"]:checked ~ .posts .post:not([data-category~="puente"]),
[value="ramen"]:checked ~ .posts .post:not([data-category~="ramen"]),
[value="r-iacute-o"]:checked ~ .posts .post:not([data-category~="r-iacute-o"]),
[value="rocas"]:checked ~ .posts .post:not([data-category~="rocas"]),
[value="rojo"]:checked ~ .posts .post:not([data-category~="rojo"]),
[value="tela"]:checked ~ .posts .post:not([data-category~="tela"]),
[value="tronco"]:checked ~ .posts .post:not([data-category~="tronco"]),
[value="ventana"]:checked ~ .posts .post:not([data-category~="ventana"]),
[value="verde"]:checked ~ .posts .post:not([data-category~="verde"]),
[value="zool-oacute-gico"]:checked ~ .posts .post:not([data-category~="zool-oacute-gico"]),
[value="z"]:checked ~ .posts .post:not([data-category~="z"]) {

	display: none;

}

[value="1"]:checked ~ .container-category [for="1"],
[value="2"]:checked ~ .container-category [for="2"],
[value="3"]:checked ~ .container-category [for="3"],
[value="4"]:checked ~ .container-category [for="4"],
[value="5"]:checked ~ .container-category [for="5"],
[value="6"]:checked ~ .container-category [for="6"],
[value="animal"]:checked ~ .container-category [for="animal"],
[value="aacute-rboles"]:checked ~ .container-category [for="aacute-rboles"],
[value="azul"]:checked ~ .container-category [for="azul"],
[value="bosque"]:checked ~ .container-category [for="bosque"],
[value="caba-ntilde-a"]:checked ~ .container-category [for="caba-ntilde-a"],
[value="cafe"]:checked ~ .container-category [for="cafe"],
[value="cama"]:checked ~ .container-category [for="cama"],
[value="casa"]:checked ~ .container-category [for="casa"],
[value="chispas"]:checked ~ .container-category [for="chispas"],
[value="cielo"]:checked ~ .container-category [for="cielo"],
[value="colores"]:checked ~ .container-category [for="colores"],
[value="comida"]:checked ~ .container-category [for="comida"],
[value="cosas"]:checked ~ .container-category [for="cosas"],
[value="flamenco"]:checked ~ .container-category [for="flamenco"],
[value="flor"]:checked ~ .container-category [for="flor"],
[value="fogata"]:checked ~ .container-category [for="fogata"],
[value="fr-iacute-o"]:checked ~ .container-category [for="fr-iacute-o"],
[value="fuego"]:checked ~ .container-category [for="fuego"],
[value="gris"]:checked ~ .container-category [for="gris"],
[value="hojas"]:checked ~ .container-category [for="hojas"],
[value="jap-oacute-n"]:checked ~ .container-category [for="jap-oacute-n"],
[value="jard-iacute-n"]:checked ~ .container-category [for="jard-iacute-n"],
[value="madera"]:checked ~ .container-category [for="madera"],
[value="monta-ntilde-a"]:checked ~ .container-category [for="monta-ntilde-a"],
[value="morado"]:checked ~ .container-category [for="morado"],
[value="mujer"]:checked ~ .container-category [for="mujer"],
[value="naranja"]:checked ~ .container-category [for="naranja"],
[value="negro"]:checked ~ .container-category [for="negro"],
[value="ni-ntilde-o"]:checked ~ .container-category [for="ni-ntilde-o"],
[value="nubes"]:checked ~ .container-category [for="nubes"],
[value="paisaje"]:checked ~ .container-category [for="paisaje"],
[value="persona"]:checked ~ .container-category [for="persona"],
[value="plantas"]:checked ~ .container-category [for="plantas"],
[value="puente"]:checked ~ .container-category [for="puente"],
[value="ramen"]:checked ~ .container-category [for="ramen"],
[value="r-iacute-o"]:checked ~ .container-category [for="r-iacute-o"],
[value="rocas"]:checked ~ .container-category [for="rocas"],
[value="rojo"]:checked ~ .container-category [for="rojo"],
[value="tela"]:checked ~ .container-category [for="tela"],
[value="tronco"]:checked ~ .container-category [for="tronco"],
[value="ventana"]:checked ~ .container-category [for="ventana"],
[value="verda"]:checked ~ .container-category [for="verde"],
[value="zool-oacute-gico"]:checked ~ .container-category [for="zool-oacute-gico"],
[value="z"]:checked ~ .container-category [for="z"] {

	background: #46a2fd;
	color: #fff;

}

@media screen and (max-width: 900px) {

.container_gallery_column {

	flex: 50%;

}

}

@media screen and (max-width: 580px) {

.container_gallery_column {

	flex: 100%;

}

}